.OTA {
    width: 900px;
    height: 750px;
    border: 5px double yellow;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 60px;
    padding-top: 30px;
    
   
}
.bola{
    width: 30px;
    height: 30px;
    background-color: orange;
    border-radius: 4px;
}
.medium{
    width: 150px;
    height:150px;
    background-color: aqua;
    display: flex;
    gap: 8px;
    padding-top: 8px; 
    padding-left: 5px;
    border-radius: 6px;
}
.medium1{
    width: 150px;
    height: 150px;
    background-color: aqua;
    display: flex;
    gap: 8px;
    flex-direction: column;
    padding-left: 8px;
    padding-top: 6px; border-radius: 6px;
}
.medium2{
    width: 150px;
    height: 150px;
    background-color: aqua;
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
    padding-top: 6px;
padding-left: 5px; border-radius: 6px;
}
.medium3{
    width: 150px;
    height: 150px;
    background-color: aqua;
    display: flex; justify-content: space-between;
    padding-top: 5px;
padding: 6px; border-radius: 6px;
}
.medium4{
    width: 150px;
    height: 150px;
    background-color: aqua;
    display: flex;
    gap: 8px;
    padding-top: 8px; 
    padding-left: 5px; border-radius: 6px;
}
.medium5{
    width: 150px;
    height: 150px;
    background-color: aqua;
    display: flex;
    gap: 8px;
    padding-top: 8px;
    flex-direction: row-reverse;
    padding-right: 6px; border-radius: 6px;
}
.medium6{
    width: 150px;
    height: 150px;
    background-color: aqua;
    display: flex;
    gap: 7px;
    justify-content: center;
    padding-top: 6px; border-radius: 6px;
}
.medium7{
    width: 150px;
    height: 150px;
    background-color: aqua;
    display: flex;
    gap: 8px;
    padding-top: 8px; border-radius: 6px;
    padding-left: 5px;
}
.medium8{
    width: 150px;
    height: 150px;
    background-color: aqua;
    display: flex;
    gap: 8px;
    padding-left: 5px;
    align-items: end;
    padding-bottom: 6px; border-radius: 6px;
}
.medium9{
    width: 150px;
    height: 150px;
    background-color: aqua;
    display: flex;
    padding-left: 5px;
    gap: 8px;
    align-items: center; border-radius: 6px;
}
.medium10{
    width: 150px;
    height: 150px;
    background-color: aqua;
    display: flex; justify-content: space-between;
    padding-top: 5px;
padding: 6px; border-radius: 6px;
}
.mediuml{
    width: 150px;
    height: 150px;
    background-color: aqua;
    display: flex; justify-content: space-between;
    padding-top: 5px;
    padding: 6px; border-radius: 6px;
}
